@mixin transform($params) {
	-webkit-transform: $params;
	-moz-transform: $params;
	-ms-transform: $params;
	transform: $params;
}

@mixin animation($params) {
	-webkit-animation: $params;
	-moz-animation: $params;
	-ms-animation: $params;
	animation: $params;
}

.loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #555;
  z-index: 999;
}

.loader-title {
  $width: 200px;

  position: absolute;
  top: 40%;
  left: calc((100% - #{$width}) / 2);
  width: $width;
  font-size: 14px;
  color: #ddd;
  text-align: center;
}

.loader {
  position: absolute;
  width: 15rem;
  height: 15rem;
  left: 50%;
  top: 50%;
  @include transform(translateX(-50%) translateY(-50%) rotate(-90deg) scaleX(-1));
  
  div {
    position: absolute;
    left: 0;
    width: .25rem;
    height: .25rem;
    background: #d7ebf5;
    border-radius: 1rem;
    opacity: 0;
  }
}

$time: 2s;
$delay: .1s;
$padding: .6rem;

@for $i from 0 through 25 {
  .loader div:nth-child(#{$i + 1}){
    top: $i * $padding;
    @if $i % 2 == 0 {
      background: saturate(#e03157, 20);
      @include animation(dna-rotatation #{$time} #{$i * $delay} infinite ease-in-out);
    }
    @else{
      @include animation(dna-rotatation #{$time} #{$i * $delay + $time / 2} infinite ease-in-out);
    }
  }
}

@keyframes dna-rotatation {
  0% {
    opacity: 1;
    left: 40%;
    z-index: 0;
    @include transform(scale(1));
  }
  25% {
    opacity: 1;
    @include transform(scale(1.8));
  }
  50% {
    opacity: 1;
    left: 60%;
    z-index: 1;
    @include transform(scale(1));
  }
  75% {
    opacity: 1;
    @include transform(scale(0.5));
  }
  100% {
    opacity: 1;
    left: 40%;
    z-index: 0;
    @include transform(scale(1));
  }
}
