$height-track: 2px;
$width-thumb: 25px;
$color-slider: #3f729b;
$color-thumb: #eee;
$border-radius-track: 1.3px;
$box-shadow: 0 0 1px rgba(20, 20, 20, .4), 0 0 2px rgba(35, 35, 35, .2);
$box-shadow-drag: 0 0 8px 10px rgba(130, 130, 130, .4);
$cursor: pointer;

@mixin thumb-base {
  height: $width-thumb;
  width: $width-thumb;
  background: $color-thumb;
  border: 3px $color-slider solid;
  border-radius: 50%;
  box-shadow: $box-shadow;
  cursor: $cursor;
}

@mixin thumb-invisible {
  background: transparent;
  border: none;
  box-shadow: none;
}

@mixin track-base {
  width: 100%;
  height: $height-track;
  cursor: $cursor;
}

@mixin marker-base {
  $width: 5px;
  position: absolute;
  top: 0;
  width: $width;
  height: $width;
  background: $color-thumb;
  border-radius: 50%;
  transform: translate(-2px, 10px);
}

.discrete-slider {  
  position: relative;
  width: 100%;
  margin: 50px 0 25px;
  outline: none !important;
  user-select: none;
  
  input[type=range] {
    // Clean up the styling
    //
    -webkit-appearance: none;
    width: 100%;
    background: transparent;

    &::-webkit-slider-thumb {
      -webkit-appearance: none;
    }

    &:focus {
      outline: none;
    }

    &::-ms-track {
      width: 100%;
      cursor: $cursor;
      background: transparent; 
      border-color: transparent;
      color: transparent;
    }

    // Style the thumb
    //
    // Webkit
    &::-webkit-slider-thumb {
      @include thumb-base;
      @include thumb-invisible;
      margin-top: -.5*$width-thumb;
      transform: scale(2);
    }

    // Firefox
    &::-moz-range-thumb {
      @include thumb-base;
      @include thumb-invisible;
      transform: scale(2);
    }

    // IE
    &::-ms-thumb {
      @include thumb-base;
      @include thumb-invisible;
      transform: scale(2);
    }

    // Style the track
    //
    // Webkit
    &::-webkit-slider-runnable-track {
      @include track-base;
      box-shadow: $box-shadow;
      background: $color-slider;
      border-radius: $border-radius-track;
    }

    // Firefox
    &::-moz-range-track {
      @include track-base;
      box-shadow: $box-shadow;
      background: $color-slider;
      border-radius: $border-radius-track;
    }

    // IE
    &::-ms-track {
      @include track-base;
      background: transparent;
      border-color: transparent;
      border-width: 16px 0;
      color: transparent;
    }

    &::-ms-fill-lower {
      background: $color-slider;
      border-radius: 2*$border-radius-track;
      box-shadow: $box-shadow;
    }

    &::-ms-fill-upper {
      background: $color-slider;
      border-radius: 2*$border-radius-track;
      box-shadow: $box-shadow;
    }
  }
}

$transition-thumb: left 80ms ease-in;

.discrete-slider__thumb {
  @include thumb-base;
  position: absolute;
  pointer-events: none;
  transform: translate(-13px, -22px);
  transition: $transition-thumb;
}

.discrete-slider__thumb-animation {
  $width: 10px;
  $translate: translate(-1.25px, 2px);
  @include marker-base;
  background: transparent;
  transform: $translate;
  transition: $transition-thumb;
  
  @keyframes start-drag {
    from, to {
      transform: $translate scale(1);
      background: transparent;
    }
    
    50% {
      transform: $translate scale(4);
      background: $color-slider;
    }
    
    90% {
      background: $color-slider;
    }
  }
  
  &::before {
    position: absolute;
    content: '';
    width: $width;
    height: $width;
    background: transparent;
    border-radius: 50%;
    box-shadow: $box-shadow-drag;
    opacity: 0;
    pointer-events: none;
    transform: $translate scale(1.5);
    transition: opacity .33s ease-out;
  }
  
  &::after {
    position: absolute;
    content: '';
    width: $width;
    height: $width;
    background: transparent;
    border-radius: 50%;
    pointer-events: none;
    transform: $translate;
  }
  
  &.dragging {
    &::before {
      opacity: 1;
    }
    
    &::after{
      animation: start-drag .25s ease;
    }
  }
}

.discrete-slider__display-value {
  $transition: opacity .2s ease-in, left 50ms ease 10ms, filter .1s ease-out;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  padding: 7.25px 10px;
  color: #222;
  font-weight: 600;
  background: #ddd;
  border-radius: 10px 10px 10px 0;
  opacity: .1;
  pointer-events: none;
  transform: translate(8px, -42px);
  filter: blur(2px);
  transition: $transition;

  &.snapped {
    opacity: .8;
    filter: none;
  }
}

.discrete-slider__markers__marker {
  @include marker-base;

  &:first-child, &:last-child {
    display: none;
  }
}
