@import '../../theme/theme';
@import '../../theme/animations';

$offset-toggle: .6*$lenghts-navigation-offset;
$width-toggle: 60px;

.navigation {
  $width: 330px;
  position: fixed;
  top: $lenghts-navigation-offset;
  right: 0;
  box-sizing: border-box;
  width: $width;
  height: $lenghts-navigation-height;
  margin: 0;
  padding: (2*$offset-toggle + $width-toggle - $lenghts-navigation-offset) 35px $offset-toggle;
  font-weight: 750;
  color: $color-light;
  background: $color-primary;
  border-radius: $border-radius 0 0 $border-radius;
  transform: translate($width + 100px);// = $width + 100px
  z-index: 999;
  transition: transform .25s ease;

  &.expanded {
    transform: translate(0);
  }

  ul {
    list-style-type: none;
    margin: 25px auto;
  }

  li {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 12px 0;
    font-size: 14px;
    letter-spacing: 1px;
    cursor: pointer;
    transition: letter-spacing .4s ease;

    a {
      color: inherit;
      text-decoration: none;
      transition: color .4s ease;
    }
  
    svg {
      $width: 16px;
      width: $width;
      height: $width;
      fill: $color-light;
      margin: 0 10px 0 0;
      //transform: translate(0, 5px);
    }
  
    &:hover, &.active {
      letter-spacing: 2px;

      a {
        color: $color-dark;
      }
  
      svg {
        animation: scale-in .25s ease-out;
      }
    }
  }
}

.navigation__brand {
  font-size: 30px;
  font-weight: 1000;
  text-transform: uppercase;
  color: lighten($color-light, 15%);

  span {
    font-weight: 100;
    text-transform: lowercase;
    color: darken($color-light, 15%);
  }
}

.navigation-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: $offset-toggle;
  right: $offset-toggle;
  width: $width-toggle;
  height: $width-toggle;
  background: $color-light;
  border-radius: 50%;
  cursor: pointer;
  z-index: 1000;
  transition: transform .2s ease-out, background .4s ease;

  svg {
    fill: $color-dark;
  }

  &:hover {
    background: darken($color-secondary, 10%);

    svg {
      animation: scale-in .2s ease;
    }
  }

  &.expanded {
    transform: rotate(90deg);
  }
}