.timeline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  position: fixed;
  bottom: 55px;
  left: 80px;
  width: calc(100vw - 160px - 40px);
  height: 20px;
  padding: 0 20px;
  background: #eee;
  border-radius: 20px;
  cursor: pointer;
  z-index: 1;
  -webkit-transform: translate(100vw) scale(0) skew(20deg);
          transform: translate(100vw) scale(0) skew(20deg);
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.2, 1, 0.6, 1);
  transition: -webkit-transform 0.5s cubic-bezier(0.2, 1, 0.6, 1);
  transition: transform 0.5s cubic-bezier(0.2, 1, 0.6, 1);
  transition: transform 0.5s cubic-bezier(0.2, 1, 0.6, 1), -webkit-transform 0.5s cubic-bezier(0.2, 1, 0.6, 1);
}

.timeline.expanded {
  -webkit-transform: translate(0) scale(1) skew(0);
          transform: translate(0) scale(1) skew(0);
}

.timeline .timeline__node {
  position: relative;
  width: 16px;
  height: 16px;
  margin: 0;
  padding: 0;
  border-radius: 50%;
  background: transparent;
  -webkit-transition: .2s;
  transition: .2s;
  z-index: 2;
}

.timeline .timeline__node:hover {
  padding: 25px;
}

.timeline .timeline__node:hover .timeline__node__circle {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  background: #6d96e2;
}

.timeline .timeline__node:hover .timeline__node__timestamp {
  background: #ddd;
  opacity: .85;
  pointer-events: auto;
}

.timeline .timeline__node .timeline__node__circle {
  background: #333;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: .2s;
  transition: .2s;
}

.timeline .timeline__node .timeline__node__timestamp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  margin: 0;
  padding: 4px;
  opacity: 0;
  font-size: 11px;
  text-align: center;
  line-height: 20px;
  border-radius: 14px 0 0 14px;
  pointer-events: none;
  -webkit-transition: all .1s ease-in;
  transition: all .1s ease-in;
  -webkit-transform: rotate(90deg) translate(-45px, 22px);
          transform: rotate(90deg) translate(-45px, 22px);
}

.timeline .close-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: calc(-25px + 10px);
  left: 0;
  width: 50px;
  height: 50px;
  background: #ccc;
  border-radius: 50%;
}

.timeline .close-button svg {
  width: 16px;
  height: 16px;
  -webkit-transform: scale(0.9) rotate(90deg);
          transform: scale(0.9) rotate(90deg);
  -webkit-transition: -webkit-transform .1s ease-in;
  transition: -webkit-transform .1s ease-in;
  transition: transform .1s ease-in;
  transition: transform .1s ease-in, -webkit-transform .1s ease-in;
}

.timeline .close-button:hover svg {
  fill: #4378d9;
  -webkit-transform: scale(1) rotate(0);
          transform: scale(1) rotate(0);
}
/*# sourceMappingURL=timeline.css.map */