@import './theme/theme';

.modal-filters {
  min-width: 550px;
  min-height: 300px;
  padding: 20px;
  border-radius: $border-radius / 2;

  @media screen and (max-width: 600px) {
    min-width: 300px;
  }
}
